<div class="row justify-content-center">
    <section class="head-LP text-LP">
        <div class="container pb-5">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-12 text-center mb-2">
                    <img class="appear" src="assets/images/logo/creditopagos.png" alt="brand-logo" width="250"/>
                    <!--                    <h1 class="azul2 mt-4 text-bold">CrediCompra</h1>-->
                </div>
                <div class="col-md-12 text-center">
                    <div class="justify-content-center row mx-2 mb-2">
                        <p class="text-center ">
                            <b>
                                Accede hoy a tu línea de crédito y paga a tus proveedores de manera fácil y rápida.
                            </b>
                        </p><br>
                    </div>
                  <div class="justify-content-center row mx-2 mb-4">
                    <p class="text-center">
                      <b>Tu línea de Crédito en 3 simples pasos</b>
                    </p>
                  </div>
                    <div class="row mx-2 mb-3">
                        <div class="col col-12 col-md-4">Paso 1. Simula tu Línea de Crédito</div>
                        <div class="col col-12 col-md-4">Paso 2: Completa tus datos</div>
                        <div class="col col-12 col-md-4">Paso 3: Accede a tu línea de Crédito para realizar pagos a tus proveedores.</div>
                    </div>
                    <div class="row mx-2 text-center d-flex justify-content-center">
                        <div class="col col-6 ">
                            <button class=" float-right btn btn-primary mb-sm-0 mr-0 mr-sm-1 waves-effect waves-float waves-light"
                                    style="color: black !important;"
                                    routerLink="/pages/simulador-de-credito">
                                Continuar
                            </button>
                        </div>
                        <div class="col col-6 ">
                            <a href="https://creditopagos.com/"
                               style="color: black !important;"
                               class=" float-left btn btn-primary mb-sm-0 mr-0 mr-sm-1 waves-effect waves-float waves-light text-black">
                                Cancelar
                            </a>
                        </div>
                        <div class="col col-12 mx-3 mt-4 text-center">
                            <p>
                                Si necesita ayuda o requiere información personalizada contáctenos a nuestro WhatsApp.
                            </p>
                            <a class="btn pb-1 btn-social bg-whatsapp text-white"
                               href="https://wa.link/ghjo6j" target="_blank">
                                <i class="fa fa-whatsapp"></i>      Whatsapp          
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>

<!--<div class="footer-LP justify-content-center"></div>-->
<div class="text-center mt-3">
<!--    <img src="../../../../assets/images/pages/logoCrediCompra.svg" height="50px" width="50px">-->
    <span style="color: black !important;"><b>Powered by</b></span>
    <br>
    <img src="../assets/images/logo/logo.png" height="50px">
</div>

<!-- Buynow Button-->
<div class="buy-now">
    <a href="https://wa.link/ghjo6j" target="_blank" class="text-bold color-black" style="color: black !important;">
        Necesito ayuda
        <img src="assets/images/iconos-flotantes/whatsapp.png" width="50">
    </a
    >
</div>
