<div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
        <!-- Error page-->
        <div class="misc-wrapper">

            <div class="card">
                <div class="card-body">
                    <div class="misc-inner p-2 p-sm-5">
                        <div class="text-center">
                            <a href="javascript:void(0);">
                                <img src="assets/images/logo/logo.png" alt="brand-logo" width="300"/>
                                <h2 class="brand-text text-primary ml-1 mt-1">CréditoPagos</h2>
                            </a>
                        </div>
                    </div>
                    <div class=" mb-2 text-center">
                        <h4>
                            PARA ACCEDER A UN CRÉDITO PARA PAGO A PROVEEDORES, POR FAVOR REGISTRA LOS SIGUIENTES DATOS:
                        </h4>
                    </div>
                    <div class="content-body">
                        <section class="app-user-list">
                            <div class="card">
                                <div class="card-body text-left">

                                    <form class="auth-login-form mt-2" [formGroup]="formSolicitud">
                                        <h3>
                                            DATOS GENERALES DE TU EMPRESA:
                                        </h3>
                                        <div class="row">

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Nombre del representante legal:
                                                    </label>
                                                    <input type="text" formControlName="reprsentante"
                                                           class="form-control"
                                                           value="">
                                                </div>
                                                <div *ngIf="submitted && controlsFrom.reprsentante.errors" class="invalid-feedback"
                                                     style="display: block;">
                                                    <div *ngIf="controlsFrom.reprsentante.errors.required">Nombre del representante es
                                                        requerido
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>RUC de la empresa:
                                                    </label>
                                                    <input type="text" formControlName="rucEmpresa"
                                                           class="form-control"
                                                           value="">
                                                </div>
                                                <div *ngIf="submitted && controlsFrom.rucEmpresa.errors" class="invalid-feedback"
                                                     style="display: block;">
                                                    <div *ngIf="controlsFrom.rucEmpresa.errors.required">Ruc es
                                                        requerido
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Nombre comercial de la empresa:
                                                    </label>
                                                    <input type="text" formControlName="comercial"
                                                           class="form-control"
                                                           value="">
                                                </div>
                                                <div *ngIf="submitted && controlsFrom.comercial.errors" class="invalid-feedback"
                                                     style="display: block;">
                                                    <div *ngIf="controlsFrom.comercial.errors.required">Nombre comercial es
                                                        requerido
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Actividad económica :
                                                    </label>
                                                    <input type="text" formControlName="actividadEconomica"
                                                           class="form-control"
                                                           value="">
                                                </div>
                                                <div *ngIf="submitted && controlsFrom.actividadEconomica.errors" class="invalid-feedback"
                                                     style="display: block;">
                                                    <div *ngIf="controlsFrom.actividadEconomica.errors.required">Actividad económica es
                                                        requerido
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>
                                                        Dirección del domicilio del representante legal de la empresa :
                                                    </label>
                                                    <input type="text" formControlName="direccionDomiciolRepresentante"
                                                           class="form-control"
                                                           value="">
                                                </div>
                                                <div *ngIf="submitted && controlsFrom.direccionDomiciolRepresentante.errors" class="invalid-feedback"
                                                     style="display: block;">
                                                    <div *ngIf="controlsFrom.direccionDomiciolRepresentante.errors.required">Dirección es
                                                        requerido
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Dirección del negocio o empresa :
                                                    </label>
                                                    <input type="text" formControlName="direccionEmpresa"
                                                           class="form-control"
                                                           value="">
                                                </div>
                                                <div *ngIf="submitted && controlsFrom.direccionEmpresa.errors" class="invalid-feedback"
                                                     style="display: block;">
                                                    <div *ngIf="controlsFrom.direccionEmpresa.errors.required">Dirección es
                                                        requerido
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>
                                                        Referencia del domicilio (en la descripción de la ventana
                                                        escribir: por ejemplo, barrio San Miguel. Frente a la tienda Mi
                                                        Vecino):
                                                    </label>
                                                    <input type="text" formControlName="referenciaDomicilio"
                                                           class="form-control"
                                                           value="">
                                                </div>
                                                <div *ngIf="submitted && controlsFrom.referenciaDomicilio.errors" class="invalid-feedback"
                                                     style="display: block;">
                                                    <div *ngIf="controlsFrom.referenciaDomicilio.errors.required">Referencia es
                                                        requerido
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>
                                                        Estado civil:
                                                    </label>
                                                    <select #teams (change)="selectEstadoCivil()"
                                                            class="form-control select2" formControlName="esatdo_civil"
                                                    >
                                                        <option value="">- Seleccione -</option>
                                                        <option value="Soltero">- Soltero -</option>
                                                        <option value="Casado">- Casado -</option>
                                                        <option value="Divorciado">- Divorciado -</option>
                                                    </select>
                                                </div>
                                                <div *ngIf="submitted && controlsFrom.esatdo_civil.errors" class="invalid-feedback"
                                                     style="display: block;">
                                                    <div *ngIf="controlsFrom.esatdo_civil.errors.required">Estado civil es
                                                        requerido
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Teléfono convencional:
                                                    </label>
                                                    <input type="text" formControlName="telefono"
                                                           class="form-control"
                                                           value="">
                                                </div>
                                                <div *ngIf="submitted && controlsFrom.telefono.errors" class="invalid-feedback"
                                                     style="display: block;">
                                                    <div *ngIf="controlsFrom.telefono.errors.required">Teléfono es requerido
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Teléfono celular:
                                                    </label>
                                                    <input type="text" formControlName="celular"
                                                           class="form-control"
                                                           value="">
                                                </div>
                                                <div *ngIf="submitted && controlsFrom.celular.errors" class="invalid-feedback"
                                                     style="display: block;">
                                                    <div *ngIf="controlsFrom.celular.errors.required">Teléfono celular es requerido
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Correo electrónico:
                                                    </label>
                                                    <input type="text" formControlName="correo"
                                                           class="form-control"
                                                           value="">
                                                </div>
                                                <div *ngIf="submitted && controlsFrom.correo.errors" class="invalid-feedback"
                                                     style="display: block;">
                                                    <div *ngIf="controlsFrom.correo.errors.required">Correo electrónico es
                                                        requerido
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="casado">
                                            <h3>
                                                Datos cónyuge:
                                            </h3>
                                            <div class="row">

                                                <br>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>
                                                            Nombres y apellidos:
                                                        </label>
                                                        <input type="text" formControlName="nombreConyuge"
                                                               class="form-control"
                                                               value="">
                                                    </div>
                                                    <div *ngIf="submitted && controlsFrom.nombreConyuge.errors" class="invalid-feedback"
                                                         style="display: block;">
                                                        <div *ngIf="controlsFrom.nombreConyuge.errors.required">Nombres y apellidos es
                                                            requerido
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Teléfono celular:
                                                        </label>
                                                        <input type="text" formControlName="telefonoConyuge"
                                                               class="form-control"
                                                               value="">
                                                    </div>
                                                    <div *ngIf="submitted && controlsFrom.telefonoConyuge.errors" class="invalid-feedback"
                                                         style="display: block;">
                                                        <div *ngIf="controlsFrom.telefonoConyuge.errors.required">Teléfono es
                                                            requerido
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Correo electrónico:
                                                        </label>
                                                        <input type="text" formControlName="correoConyuge"
                                                               class="form-control"
                                                               value="">
                                                    </div>
                                                    <div *ngIf="submitted && controlsFrom.correoConyuge.errors" class="invalid-feedback"
                                                         style="display: block;">
                                                        <div *ngIf="controlsFrom.correoConyuge.errors.required">Correo es
                                                            requerido
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <h3>
                                            REFERENCIAS:
                                        </h3>
                                        <h5>
                                            Familair:
                                        </h5>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>
                                                        Nombre
                                                    </label>
                                                    <input type="text" formControlName="nombreFamiliar"
                                                           class="form-control"
                                                           value="">
                                                </div>
                                            </div>
                                            <div *ngIf="submitted && controlsFrom.nombreFamiliar.errors" class="invalid-feedback"
                                                 style="display: block;">
                                                <div *ngIf="controlsFrom.nombreFamiliar.errors.required">Nombre referencia familiar es
                                                    requerido
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>
                                                        Apellido
                                                    </label>
                                                    <input type="text" formControlName="apellidoFamiliar"
                                                           class="form-control"
                                                           value="">
                                                </div>
                                            </div>
                                            <div *ngIf="submitted && controlsFrom.apellidoFamiliar.errors" class="invalid-feedback"
                                                 style="display: block;">
                                                <div *ngIf="controlsFrom.apellidoFamiliar.errors.required">Apellido referencia familiar es
                                                    requerido
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>
                                                        Teléfono:
                                                    </label>
                                                    <input type="text" formControlName="telefonoFamiliar"
                                                           class="form-control"
                                                           value="">
                                                </div>
                                            </div>
                                            <div *ngIf="submitted && controlsFrom.telefonoFamiliar.errors" class="invalid-feedback"
                                                 style="display: block;">
                                                <div *ngIf="controlsFrom.telefonoFamiliar.errors.required">Teléfono referencia familiar es
                                                    requerido
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>
                                                        Teléfono:
                                                    </label>
                                                    <input type="text" formControlName="direccionFamiliar"
                                                           class="form-control"
                                                           value="">
                                                </div>
                                            </div>
                                            <div *ngIf="submitted && controlsFrom.direccionFamiliar.errors" class="invalid-feedback"
                                                 style="display: block;">
                                                <div *ngIf="controlsFrom.direccionFamiliar.errors.required">Dirección del familiar es
                                                    requerido
                                                </div>
                                            </div>
                                        </div>
                                        <h3>
                                            INGRESOS Y GASTOS DEL NEGOCIO:
                                        </h3>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>
                                                        Ingresos mensuales en ventas (valor):
                                                    </label>
                                                    <input type="text" formControlName="inresosMensualesVentas"
                                                           class="form-control"
                                                           value="">
                                                </div>
                                                <div *ngIf="submitted && controlsFrom.inresosMensualesVentas.errors" class="invalid-feedback"
                                                     style="display: block;">
                                                    <div *ngIf="controlsFrom.inresosMensualesVentas.errors.required">Dirección del familiar es
                                                        requerido
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Sueldo cónyuge (de ser casado) (VALOR):
                                                    </label>
                                                    <input type="text" formControlName="sueldoConyuge"
                                                           class="form-control"
                                                           value="">
                                                </div>
                                                <div *ngIf="submitted && controlsFrom.sueldoConyuge.errors" class="invalid-feedback"
                                                     style="display: block;">
                                                    <div *ngIf="controlsFrom.sueldoConyuge.errors.required">Sueldo cónyuge es
                                                        requerido
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Otros ingresos (valor) :
                                                    </label>
                                                    <input type="text" formControlName="otrosIngresos"
                                                           class="form-control"
                                                           value="">
                                                </div>
                                                <div *ngIf="submitted && controlsFrom.otrosIngresos.errors" class="invalid-feedback"
                                                     style="display: block;">
                                                    <div *ngIf="controlsFrom.otrosIngresos.errors.required">Otros ingresos es
                                                        requerido
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Gastos mensuales en compras para el negocio (valor) :
                                                    </label>
                                                    <input type="text" formControlName="gastosMensuales"
                                                           class="form-control"
                                                           value="">
                                                </div>
                                                <div *ngIf="submitted && controlsFrom.gastosMensuales.errors" class="invalid-feedback"
                                                     style="display: block;">
                                                    <div *ngIf="controlsFrom.gastosMensuales.errors.required">Gastos mensuales es
                                                        requerido
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Gastos familiares (valor)
                                                    </label>
                                                    <input type="text" formControlName="gastosFamilaires"
                                                           class="form-control"
                                                           value="">
                                                </div>
                                                <div *ngIf="submitted && controlsFrom.gastosFamilaires.errors" class="invalid-feedback"
                                                     style="display: block;">
                                                    <div *ngIf="controlsFrom.gastosFamilaires.errors.required">Gastos familiares es
                                                        requerido
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>
                                                        Especifique otros ingresos (ejemplo: vendo artículos de revista
                                                        en mi tiempo libre, etc.)
                                                    </label>
                                                    <input type="text" formControlName="especificaIngresos"
                                                           class="form-control"
                                                           value="">
                                                </div>
                                                <div *ngIf="submitted && controlsFrom.especificaIngresos.errors" class="invalid-feedback"
                                                     style="display: block;">
                                                    <div *ngIf="controlsFrom.especificaIngresos.errors.required"> Especifique otros ingresos es
                                                        requerido
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mt-2">
                                            <button class="btn btn-primary mr-1" (click)="guardar()">
                                                Guardar
                                            </button>
                                        </div>
                                    </form>

                                </div>

                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <!-- / Error page-->
    </div>
</div>
