<div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
        <!-- Error page-->
        <div class="misc-wrapper">

            <div class="card">
                <div class="card-body">
                    <!--                    <div class="misc-inner p-2 p-sm-5">-->
                    <!--                        <div class="text-center">-->
                    <!--                            <a href="javascript:void(0);">-->
                    <!--                                &lt;!&ndash;                                <img src="assets/images/logo/logo.png" alt="brand-logo" width="300"/>&ndash;&gt;-->
                    <!--                                <img src="{{ coreConfig.app.appLogoImage }}" alt="brand-logo" width="400" />-->

                    <!--                                &lt;!&ndash;                                <h2 class="brand-text text-primary ml-1 mt-1">CréditoPagos</h2>&ndash;&gt;-->
                    <!--                            </a>-->
                    <!--                        </div>-->
                    <!--                    </div>-->


                    <div class="content-body">
                        <section class="app-user-list">
                            <div class="card">
                                <div class="card-body text-left">

                                    <form class="auth-login-form mt-2 text-center">

                                        <div class="row">
                                            <div class="form-group col-4 text-right">
                                                <h4>Monto de Crédito:
                                                </h4>
                                            </div>
                                            <div class="form-group col-8">
                                                <input type="text" formControlName="reprsentante"
                                                       class="form-control"
                                                       value="">
                                            </div>
                                            <div class="form-group col-4 text-right">
                                                <span>Monto de Uasado:
                                                </span>
                                            </div>
                                            <div class="form-group col-8">
                                                <input type="text" formControlName="reprsentante"
                                                       class="form-control"
                                                       value="">
                                            </div>
                                            <div class="form-group col-4 text-right">
                                                <span>Pago nombre del proveedor:
                                                </span>

                                            </div>
                                            <div class="form-group col-8 text-right">
                                                <input type="text" formControlName="reprsentante"
                                                       class="form-control"
                                                       value="">
                                            </div>
                                            <div class="form-group col-4 text-right">
                                                <span>Pago nombre del proveedor:
                                                </span>

                                            </div>
                                            <div class="form-group col-8 text-right">
                                                <input type="text" formControlName="reprsentante"
                                                       class="form-control"
                                                       value="">
                                            </div>
                                            <div class="form-group col-4 text-right">
                                                <span>Pago nombre del proveedor:
                                                </span>

                                            </div>
                                            <div class="form-group col-8 text-right">
                                                <input type="text" formControlName="reprsentante"
                                                       class="form-control"
                                                       value="">
                                            </div>
                                            <div class="form-group col-4 text-right">
                                                <h4>Saldo disponible :
                                                </h4>

                                            </div>
                                            <div class="form-group col-8 text-right">
                                                <input type="text" formControlName="reprsentante"
                                                       class="form-control"
                                                       value="">
                                            </div>

                                        </div>


                                        <div class="mt-2 d-flex justify-content-center">
                                            <button class="btn btn-primary mr-1" routerLink="/personas/pagoProveedores">
                                                Pagar a proveedores
                                            </button>
                                            <button class="btn btn-primary  mr-1">
                                                Salir
                                            </button>
                                        </div>
                                    </form>

                                </div>

                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <!-- / Error page-->
    </div>
</div>
