<div class="card-body">
  <div class=" my-1 text-center">
    <div class="misc-inner">
      <div class="text-center">
        <a href="javascript:void(0);">
          <img src="assets/images/logo/red-credito.png" alt="brand-logo" width="300"/>
        </a>
      </div>
    </div>
      <h1 class="azul2">
          Gracias por enviar su Solicitud.
      </h1>
      <p>
          Está a 1 paso de acceder a su Línea de Crédito para realizar pagos a sus proveedores.
      </p>
      <br>
      <p>
          Validaremos la información enviada y nos comunicaremos a través de nuestro Agente Virtual para Finalizar
          el Proceso desde el siguiente número <b>0980283746</b> y/o desde el siguiente correo:
          <span class="azul2">info@corporacionomniglobal.com</span>
      </p>
      <br>
      <p>
          Por su seguridad, NO comparta su información con ningún otro número de teléfono o correo electrónico.
      </p>
      <br>
      <p>
          Si desea iniciar la comunicación para Finalizar el Proceso, haga click en el siguiente botón de WhatsApp.
      </p>
  </div>
  <div class="content-body mt-4">
    <section class="app-user-list">
      <div class="text-center">
        <a href="https://walink.co/114754" class="btn btn-primary my-1" style="color: black !important;">WhatsApp</a>
        <br>
        <button class="btn btn-primary my-1" style="color: black !important;" (click)="cerrarSesion()" >Salir</button>
      </div>
      <div class="mt-4 d-flex justify-content-center">
        <span>
            Crédito Pagos es la mejor opción para el crecimiento de su negocio
        </span>

      </div>
    </section>
  </div>
</div>
