<div class="card-body">
  <div class=" my-1 text-center">
    <div class="misc-inner">
      <div class="text-center">
        <a href="javascript:void(0);">
          <img src="assets/images/logo/red-credito.png" alt="brand-logo" width="300"/>
        </a>
      </div>
    </div>
    <span>
        Contáctese con su asesor y complete sus datos. <br> Validaremos la información adjuntada y
      le informaremos a través del {{usuario.email}} el estado de su <strong>SOLICITUD.</strong>
    </span>
  </div>
  <div class="content-body mt-4">
    <section class="app-user-list">
      <div class="text-center">
        <a href="https://walink.co/114754" class="btn btn-primary my-1" style="color: black !important;">WhatsApp</a>
        <br>
        <button class="btn btn-primary my-1" style="color: black !important;" (click)="cerrarSesion()" >Salir</button>
      </div>
      <div class="mt-4 d-flex justify-content-center">
        <span>
            Crédito Pagos es la mejor opción para el crecimiento de su negocio
        </span>

      </div>
    </section>
  </div>
</div>
