@import '@core/scss/base/bootstrap-extended/include'; // Bootstrap includes
@import '@core/scss/base/pages/page-auth.scss';
@import '@core/scss/base/pages/page-profile.scss';
#user-profile .profile-header .profile-img-container {
    position: absolute;
    bottom: 13px;
    left: 2.14rem;
    z-index: 2;
    text-align: center;
}

.btn-info {
    border-color: #3C55F2 !important;
    background-color: #3C55F2 !important;
    color: #fff !important;
}

.text-primary {
    color: #385e8c !important;
}

.btn-primary {
    color: #385e8c !important;
}

.btn-primary:hover {
    background-color: #385e8c !important;
    box-shadow: 0 8px 25px -8px white !important;
    color: white !important;
    border-color: #385e8c !important;
}

.img-fluid {
    max-width: 100%;
    height: 100%;
}