<div class="content-wrapper">
    <div class="content-body">
        <!-- users list start -->
        <section class="app-ecommerce-details">
            <div class="card">
                <div class="row">
                    <div class="col-md-12 p-3">

                        <h3 class="mb-1">
                            <span class="text-info">{{usuario.persona.nombres}} {{usuario.persona.apellidos}}</span>
                        </h3>
                        <p>Tu crédito ha sido preaprobado, recibirás un notificación por correo electrónico una vez que tu dinero esté listo para ser desembolsado.</p>
                        <a href="/" class="btn btn-primary">Entendido</a>
                    </div>
                </div>

            </div>
        </section>
        <!-- users list ends -->
    </div>
</div>