<div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
        <!-- Error page-->
        <div class="misc-wrapper">

            <div class="card">
                <div class="card-body">
                    <div class="misc-inner p-2 p-sm-5">
                        <div class="text-center">
                            <a href="javascript:void(0);">
                                <img src="assets/images/logo/logo.png" alt="brand-logo" width="300"/>
                                <h2 class="brand-text text-primary ml-1 mt-1">CréditoPagos</h2>
                            </a>
                        </div>
                    </div>
                    <div class=" mb-2 text-center">
                        <h4>
                            PARA ACCEDER A UN CRÉDITO PARA PAGO A PROVEEDORES, POR FAVOR REGISTRA LOS SIGUIENTES DATOS:
                        </h4>
                    </div>
                    <div class="content-body">
                        <section class="app-user-list">
                            <div class="card">
                                <div class="card-body text-center">

                                    <div class="row mx-2">
                                        <div class="col-6 floar:">
                                            <h4 for="exampleInputEmail1" class="form-label pull-right">INGRESOS
                                                MENSUALES DE LA EMPRESA:</h4>
                                        </div>
                                        <div class="col-6">
                                            <input type="number" class="form-control" id="exampleInputEmail1"
                                                   (change)="caculate_value()"
                                                   [(ngModel)]="monto" aria-describedby="emailHelp">
                                        </div>
                                    </div>

                                    <div class="mt-2">
                                        <ul class="list-group ">
                                            <li class="list-group-item" *ngFor="let item of requisitos">{{item}}</li>
                                        </ul>
                                    </div>
                                    <div *ngIf="requisitos.length>0" class="mt-2">
                                        <button  routerLink="/personas/solucitudCredito" class="btn btn-primary">Continuar</button>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="swiper-responsive-breakpoints swiper-container px-4 py-2">
                        <div class="swiper-wrapper mb-2">
                        </div>
                        <!-- Add Arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- / Error page-->
    </div>
</div>
