<div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body" id="user-profile">
        <div class="auth-wrapper auth-v1 px-2">
            <div class="auth-inner py-2">
                <!-- Forgot Password v1 -->
                <div class="text-center mb-3">
                    <img src="assets/images/logo.svg" width="250">
                </div>

                <div class="card card-developer-meetup">
                    <div class="meetup-img-wrapper rounded-top text-center">
                        <img src="assets/images/illustration/email.svg" alt="Meeting Pic" height="170" />
                    </div>
                    <div class="card-body">
                        <h1>¡Felicidades! tu cuenta se validó con éxito...</h1>
                        <p>Con tu registro te <span class="text-primary font-weight-bold">acabas de ganar {{ganarMonedas ? ganarMonedas.valor:0}} Super
                                Monedas más</span> con las que puedes canjear productos</p>
                        <hr />
                        <div class="text-center">
                            <a (click)="empezar()" class="btn btn-primary">Empezar</a>
                        </div>
                    </div>
                </div>
                <!-- /Forgot Password v1 -->
            </div>
        </div>

    </div>
</div>