.cat {
  width: 120px;
  height: 150px;
  float: center;
}

.btn-info {
  border-color: #3c55f2 !important;
  background-color: #3c55f2 !important;
  color: #fff !important;
}

.text-primary {
  color: #385e8c !important;
}

.btn-primary {
  color: #385e8c !important;
}

.btn-primary:hover {
  background-color: #385e8c !important;
  box-shadow: 0 8px 25px -8px white !important;
  color: white !important;
  border-color: #385e8c !important;
}

.img-fluid {
  max-width: 100%;
  height: 100%;
}

.nav-pills .nav-link {
  padding: 0.786rem 1rem;
  font-size: 12px;
  line-height: 1rem;
  border: 1px solid transparent;
  color: #5e5873;
  letter-spacing: -0.1px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #385e8c;
}

.nav-pills .nav-link.active {
  border-color: #385e8c;
  box-shadow: 0 4px 18px -4px rgb(115 103 240 / 65%);
}

.isDisabled {
  background: #efefef;
  pointer-events: none;
  cursor: not-allowed;
}
