<div class="content-wrapper">

  <div class="content-body">
    <div id="user-profile">
      <!-- profile header -->
      <div class="row">
        <div class="col-12">
          <div class="">
            <!-- profile cover photo -->
            <!-- <img class="" src="" alt="User Profile Image" /> -->
            <!--/ profile cover photo -->

            <div class="">
              <!-- profile picture -->
              <div class="">
                <div>
                  <img src="{{imagenTemp ? imagenTemp: imagen ? imagen: '/assets/images/avatars/avatar.png' }}"
                       class="cat"/>
                </div>
                <!-- profile title -->
                <div class="profile-title ml-3">
                  <h2>{{usuario.persona.nombres}} {{usuario.persona.apellidos}}</h2>
                  <div class="col-12 d-flex px-0">
                    <label class="btn btn-primary btn-sm mr-75 waves-effect waves-float waves-light"
                           for="change-picture">
                      <span>Cambiar foto</span>
                      <input class="form-control" type="file" id="change-picture" hidden=""
                             (change)="subirImagen($event)" accept="image/png, image/jpeg, image/jpg">
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <!-- tabs pill -->
            <div>
              <!-- navbar -->
              <nav>

                <!-- collapse  -->

                <div class="">
                  <ul ngbNav #nav="ngbNav" [(activeId)]="tab" class="nav nav-pills mb-0">
                    <li class="" [ngbNavItem]="1">
                      <a ngbNavLink class=""><span class="">INFORMACIÓN DEL REPRESENTANTE LEGAL</span></a>
                    </li>
                    <li class="" [ngbNavItem]="2">
                      <a ngbNavLink class=""><span class="">Datos de la pyme</span></a>
                    </li>
                    <!-- <li class="nav-item" [ngbNavItem]="3">
                                                <a ngbNavLink class="d-flex align-items-center nav-link font-weight-bold"><span class="d-none d-sm-block">Historial laboral</span></a
                                                    >
                                            </li> -->
                  </ul>
                </div>

                <!--/ collapse  -->
              </nav>
              <!--/ navbar -->
            </div>
            <!--/ profile header -->

            <!-- profile info section -->
            <section>
              <div class="tab-content">


                <div class="tab-pane {{tab == 1 ? 'active':''}}" aria-labelledby="account-tab" role="tabpanel">
                  <div class="card">
                    <div class="card-body">
                      <form class="auth-login-form mt-2" [formGroup]="personaForm" (ngSubmit)="guardarInformacion()">
                        <div class="row">
                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="username">Fecha de creación</label>
                              <input type="text" formControlName="created_at" class="form-control" placeholder="Fecha"
                                     disabled/>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="identificacion">Ingrese el número de RUC</label>
                              <input type="text" formControlName="identificacion" class="form-control" id="identificacion">
                            </div>
                            <div *ngIf="PerfilSub && f.identificacion.errors" class="invalid-feedback"
                                 style="display: block;">
                              <div *ngIf="PerfilSub && f.identificacion.errors.required">Es requerido</div>
                              <div *ngIf="f.identificacion.errors.minlength || f.identificacion.errors.maxlength">
                                Ingrese 13 dígitos
                              </div>
                              <div *ngIf="f.identificacion.errors.pattern">Ingrese solo numeros</div>
                            </div>
                          </div>

                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="nombres">Nombres del representante legal</label>
                              <input type="text" formControlName="nombres"
                                     class="form-control" id="nombres">
                            </div>
                            <div *ngIf="PerfilSub && f.nombres.errors" class="invalid-feedback"
                                 style="display: block;">
                              <div *ngIf="PerfilSub && f.nombres.errors.required">Es requerido</div>
                            </div>
                          </div>

                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="apellidos">Apellidos del representante legal</label>
                              <input type="text" formControlName="apellidos" id="apellidos"
                                     class="form-control">
                            </div>
                            <div *ngIf="PerfilSub && f.apellidos.errors" class="invalid-feedback"
                                 style="display: block;">
                              <div *ngIf="PerfilSub && f.apellidos.errors.required">Es requerido</div>
                            </div>
                          </div>

                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="cedulaRepresentante">Cédula o RUC del representante legal</label>
                              <input type="text" formControlName="cedulaRepresentante" class="form-control"
                                     id="cedulaRepresentante">
                            </div>
                            <div *ngIf="PerfilSub && f.cedulaRepresentante.errors" class="invalid-feedback"
                                 style="display: block;">
                              <div *ngIf="PerfilSub && f.cedulaRepresentante.errors.required">Es requerido</div>
                              <div
                                  *ngIf="f.cedulaRepresentante.errors.minlength || f.cedulaRepresentante.errors.maxlength">
                                Ingrese 13 dígitos
                              </div>
                              <div *ngIf="f.cedulaRepresentante.errors.pattern">Ingrese solo numeros</div>
                            </div>
                          </div>

                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="direccionRepresentante">Dirección del representante legal</label>
                              <input type="text" formControlName="direccionRepresentante" class="form-control"
                                     id="direccionRepresentante">
                            </div>
                            <div *ngIf="PerfilSub && f.direccionRepresentante.errors" class="invalid-feedback"
                                 style="display: block;">
                              <div *ngIf="PerfilSub && f.direccionRepresentante.errors.required">Es requerido</div>
                              <div
                                  *ngIf="f.direccionRepresentante.errors.minlength || f.direccionRepresentante.errors.maxlength">
                                Ingrese 13 dígitos
                              </div>
                              <div *ngIf="f.direccionRepresentante.errors.pattern">Ingrese solo numeros</div>
                            </div>
                          </div>

                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="celularRepresentante">Teléfono del representante legal</label>
                              <input type="text" formControlName="celularRepresentante" class="form-control"
                                     id="celularRepresentante">
                            </div>
                            <div *ngIf="PerfilSub && f.celularRepresentante.errors" class="invalid-feedback"
                                 style="display: block;">
                              <div *ngIf="PerfilSub && f.celularRepresentante.errors.required">Es requerido</div>
                              <div
                                  *ngIf="f.celularRepresentante.errors.minlength || f.direccionRepresentante.errors.maxlength">
                                Ingrese 13 dígitos
                              </div>
                              <div *ngIf="f.celularRepresentante.errors.pattern">Ingrese solo numeros</div>
                            </div>
                          </div>

                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="whatsappRepresentante">WhatsApp del representante legal</label>
                              <input type="text" formControlName="whatsappRepresentante" class="form-control"
                                     id="whatsappRepresentante">
                            </div>
                            <div *ngIf="PerfilSub && f.whatsappRepresentante.errors" class="invalid-feedback"
                                 style="display: block;">
                              <div *ngIf="PerfilSub && f.whatsappRepresentante.errors.required">Es requerido</div>
                              <div
                                  *ngIf="f.whatsappRepresentante.errors.minlength || f.whatsappRepresentante.errors.maxlength">
                                Ingrese 13 dígitos
                              </div>
                              <div *ngIf="f.whatsappRepresentante.errors.pattern">Ingrese solo numeros</div>
                            </div>
                          </div>

                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="correoRepresentante">Correo del representante legal</label>
                              <input type="text" formControlName="correoRepresentante" class="form-control"
                                     id="correoRepresentante">
                            </div>
                            <div *ngIf="PerfilSub && f.whatsappRepresentante.errors" class="invalid-feedback"
                                 style="display: block;">
                              <div *ngIf="PerfilSub && f.whatsappRepresentante.errors.required">Es requerido</div>
                              <div
                                  *ngIf="f.whatsappRepresentante.errors.minlength || f.whatsappRepresentante.errors.maxlength">
                                Ingrese 13 dígitos
                              </div>
                              <div *ngIf="f.whatsappRepresentante.errors.pattern">Ingrese solo numeros</div>
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="estadoCivil">Estado civil del representante legal</label>
                              <select formControlName="estadoCivil" class="form-control"
                                      (change)="verificarEstadoCivil()"
                                      id="estadoCivil" style="display: block;">
                                <option value="">- Seleccionar -</option>
                                <option [value]="value.valor" *ngFor="let value of listadoEstadoCivil">
                                  {{value.nombre}}
                                </option>
                              </select>
                              <div *ngIf="submitted && f.estadoCivil.errors"
                                   class="invalid-feedback" style="display: block;">
                                <div *ngIf="f.estadoCivil.errors.required">Estado civil requerido</div>
                              </div>
                            </div>
                          </div>

                          <div class="row">

                            <div *ngIf="casado">
                              <h3>
                                Datos cónyuge:
                              </h3>
                              <br>
                              <div formGroupName="conyuge">

                                <div class="row">
                                  <div class="col-md-4">
                                    <div class="form-group">
                                      <label>
                                        Nombres y apellidos:
                                      </label>
                                      <input type="text" formControlName="nombreConyuge"
                                             class="form-control"
                                             value="">
                                    </div>
                                    <!--                                                            <div *ngIf="submitted && controlsContuge.controls?.nombreConyuge.errors"-->
                                    <!--                                                                 class="invalid-feedback"-->
                                    <!--                                                                 style="display: block;">-->
                                    <!--                                                            </div>-->
                                  </div>
                                  <div class="col-md-4">
                                    <div class="form-group">
                                      <label>Celular:
                                      </label>
                                      <input type="text" formControlName="telefonoConyuge"
                                             class="form-control"
                                             value="">
                                    </div>
                                    <div *ngIf="submitted && controlsContuge.telefonoConyuge.errors"
                                         class="invalid-feedback"
                                         style="display: block;">
                                      <div *ngIf="controlsContuge.telefonoConyuge.errors.pattern">
                                        Ingrese solo números
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-4">
                                    <div class="form-group">
                                      <label>Numero de cédula:
                                      </label>
                                      <input type="text" formControlName="cedulaConyuge"
                                             class="form-control"
                                             value="">
                                    </div>
                                    <!--                                                            <div *ngIf="submitted && controlsFromContuge.cedulaConyuge.errors"-->
                                    <!--                                                                 class="invalid-feedback"-->
                                    <!--                                                                 style="display: block;">-->
                                    <!--                                                                <div *ngIf="controlsFromContuge.cedulaConyuge.errors.required">-->
                                    <!--                                                                    Cédula es requerido-->
                                    <!--                                                                </div>-->
                                    <!--                                                            </div>-->
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="username">Género</label>
                              <select formControlName="genero" class="form-control" id="status">
                                <option>- Seleccionar -</option>
                                <option>Hombre</option>
                                <option>Mujer</option>
                                <option>No especificado</option>
                              </select>
                            </div>
                            <div *ngIf="PerfilSub && f.genero.errors" class="invalid-feedback" style="display: block;">
                              <div *ngIf="PerfilSub && f.genero.errors.required">Es requerido</div>
                            </div>
                          </div>

                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="username">Fecha de nacimiento</label>
                              <ng2-flatpickr [setDate]="fecha" formControlName="fechaNacimiento"
                                             [config]="startDateOptions" (input)="calcularEdad()"></ng2-flatpickr>
                            </div>
                            <div *ngIf="PerfilSub && f.fechaNacimiento.errors" class="invalid-feedback"
                                 style="display: block;">
                              <div *ngIf="PerfilSub && f.fechaNacimiento.errors.required">Es requerido</div>
                            </div>
                          </div>

                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="username">Edad</label>
                              <input formControlName="edad" type="text" class="form-control" value="30" disabled>
                            </div>
                            <div *ngIf="PerfilSub && f.provincia.errors" class="invalid-feedback"
                                 style="display: block;">
                              <div *ngIf="PerfilSub && f.provincia.errors.required">Es requerido</div>
                            </div>

                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="username">País</label>
                              <select class="form-control select2" formControlName="pais"
                                      [(ngModel)]="informacionBasica.pais" (change)="obtenerProvinciaOpciones()">
                                <option value="">- Seleccione -</option>
                                <option *ngFor="let paisOp of paisOpciones" value="{{paisOp.nombre}}">{{paisOp.nombre}}
                                </option>
                              </select>
                              <div *ngIf="PerfilSub && f.provincia.errors" class="invalid-feedback"
                                   style="display: block;">
                                <div *ngIf="PerfilSub && f.provincia.errors.required">Es requerido</div>
                              </div>
                            </div>
                          </div>

                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="username">Provincia</label>
                              <select class="form-control select2" formControlName="provincia"
                                      [(ngModel)]="informacionBasica.provincia" (change)="obtenerCiudadOpciones() ">
                                <option value="">- Seleccione -</option>
                                <option *ngFor="let provinciaOp of provinciaOpciones" value="{{provinciaOp.nombre}}">
                                  {{provinciaOp.nombre}}</option>

                              </select>
                            </div>
                            <div *ngIf="PerfilSub && f.provincia.errors" class="invalid-feedback"
                                 style="display: block;">
                              <div *ngIf="PerfilSub && f.provincia.errors.required">Es requerido</div>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="username">Ciudad</label>
                              <select class="form-control select2" formControlName="ciudad"
                                      [(ngModel)]="informacionBasica.ciudad">
                                <option value="">- Seleccione -</option>
                                <option *ngFor="let ciudadOp of ciudadOpciones" value="{{ciudadOp.nombre}}">
                                  {{ciudadOp.nombre}}</option>
                              </select>
                            </div>
                            <div *ngIf="PerfilSub && f.ciudad.errors" class="invalid-feedback" style="display: block;">
                              <div *ngIf="PerfilSub && f.ciudad.errors.required">Es requerido</div>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="username">Correo</label>
                              <input formControlName="email" type="text" class="form-control" disabled>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="username">Correo adicional</label>
                              <input formControlName="emailAdicional" type="text" class="form-control"
                                     placeholder="micorreo@dominio.com">

                              <div *ngIf="PerfilSub && f.emailAdicional.errors" class="invalid-feedback"
                                   style="display: block;">
                                <div *ngIf="PerfilSub && f.emailAdicional.errors.email">Debe ingresar una dirección de
                                  correo válida
                                </div>
                              </div>

                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="username">Número WhatsApp</label>
                              <input formControlName="whatsapp" type="text" class="form-control" value="0992354776">
                            </div>
                            <div *ngIf="PerfilSub && f.whatsapp.errors" class="invalid-feedback"
                                 style="display: block;">
                              <div *ngIf="PerfilSub && f.whatsapp.errors.required">Es requerido</div>
                              <div *ngIf="f.whatsapp.errors.pattern">Solo se aceptan números</div>
                              <div
                                  *ngIf="f.whatsapp.errors.minlength || f.whatsapp.errors.maxlength || f.whatsapp.errors.min">
                                Ingrese un número de 10 dígitos
                              </div>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="username">Número celular</label>
                              <input formControlName="telefono" type="text" class="form-control" value="0992354776">
                            </div>
                            <div *ngIf="PerfilSub && f.telefono.errors" class="invalid-feedback"
                                 style="display: block;">
                              <div *ngIf="PerfilSub && f.telefono.errors.required">Es requerido</div>
                              <div
                                  *ngIf="f.telefono.errors.minlength || f.telefono.errors.maxlength || f.telefono.errors.min">
                                Ingrese un número de 10 dígitos
                              </div>
                            </div>
                          </div>

                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="username">Perfil de facebook</label>
                              <input formControlName="facebook" type="text" class="form-control">
                            </div>
                          </div>

                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="username">Perfil de instagram</label>
                              <input formControlName="instagram" type="text" class="form-control">
                            </div>
                          </div>

                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="username">Perfil de twitter</label>
                              <input formControlName="twitter" type="text" class="form-control">
                            </div>
                          </div>

                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="username">Perfil de TikTok</label>
                              <input formControlName="tiktok" type="text" class="form-control">
                            </div>
                          </div>

                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="username">Perfil de youtube</label>
                              <input formControlName="youtube" type="text" class="form-control">
                            </div>
                          </div>

                          <div class="col-12 d-flex flex-sm-row flex-column mt-2">
                            <a (click)="guardarInformacion()"
                               class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1 waves-effect waves-float waves-light">Guardar
                              cambios</a>
                            <button type="button"
                                    class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1 waves-effect waves-float waves-light"
                                    (click)="omitirContinuar()" *ngIf="!validado">Omitir y Continuar
                            </button>
                          </div>
                        </div>
                      </form>

                    </div>
                  </div>
                </div>

                <div class="tab-pane {{tab == 2 ? 'active':''}}" aria-labelledby="account-tab" role="tabpane2">
                  <div class="card">
                    <div class="card-body">
                      <form class="auth-login-form mt-2" [formGroup]="datosTrabajoForm">
                        <div class="row">
                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="username">RUC de la empresa o negocio </label>
                              <input type="text" class="form-control" formControlName="ruc">
                              <div *ngIf="submitted && tForm.ruc.errors" class="invalid-feedback"
                                   style="display: block;">
                                <div *ngIf="submitted && tForm.ruc.errors.required">Es requerido</div>
                                <div *ngIf="tForm.ruc.errors.minlength || tForm.ruc.errors.maxlength">
                                  Ingrese 13 dígitos
                                </div>
                                <div *ngIf="tForm.ruc.errors.pattern">Ingrese solo numeros</div>
                              </div>
                            </div>
                          </div>

                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="username">Nombre comercial de la empresa o negocio</label>
                              <input type="text" class="form-control" formControlName="nombreEmpresa">
                              <div *ngIf="submitted && tForm.nombreEmpresa.errors" class="invalid-feedback"
                                   style="display: block;">
                                <div *ngIf="submitted && tForm.nombreEmpresa.errors.required">Es requerido</div>
                              </div>
                            </div>
                          </div>

                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="username">Dirección de la empresa o negocio</label>
                              <input type="text" class="form-control" formControlName="direccionEmpresa">
                              <div *ngIf="submitted && tForm.direccionEmpresa.errors" class="invalid-feedback"
                                   style="display: block;">
                                <div *ngIf="submitted && tForm.direccionEmpresa.errors.required">Es requerido</div>
                              </div>
                            </div>
                          </div>

                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="username">Teléfono fijo de la empresa o negocio</label>
                              <input type="text" class="form-control" formControlName="telefonoEmpresa">
                              <div *ngIf="submitted && tForm.telefonoEmpresa.errors" class="invalid-feedback"
                                   style="display: block;">
                                <div *ngIf="submitted && tForm.telefonoEmpresa.errors.required">Es requerido</div>
                                <div *ngIf="tForm.telefonoEmpresa.errors.pattern">Ingrese solo numeros</div>
                              </div>
                            </div>
                          </div>


                          <div class="col-12 d-flex flex-sm-row flex-column mt-2">
                            <a href="javascript:void(0)" (click)="guardarDatosTrabajo()"
                               class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1 waves-effect waves-float waves-light">Guardar
                              cambios</a>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>


                <div class="tab-pane {{tab == 3 ? 'active':''}}" aria-labelledby="account-tab" role="tabpanel">

                  <div class="card">
                    <div class="card-body">
                      <h3 class="mb-3">Historial laboral</h3>
                      <ul class="timeline">
                        <li class="timeline-item">
                          <span class="timeline-point timeline-point-info">
                            <i data-feather='trello'></i>
                          </span>
                          <div class="timeline-event">
                            <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1">
                              <h6><b>EMPRESA:</b> Telefónica Movistar</h6>
                            </div>
                            <p>Te encuentras actualmente trabajando en esta empresa</p>
                            <div class="d-flex justify-content-between flex-wrap flex-sm-row flex-column">
                              <div class="mt-sm-0 mt-1">
                                <p class="text-muted mb-50">Cargo</p>
                                <p class="mb-0">Diseñador web</p>
                              </div>
                              <div class="mt-sm-0 mt-1">
                                <p class="text-muted mb-50">Fecha de inicio</p>
                                <p class="mb-0">20 Dec 2020</p>
                              </div>
                              <div class="mt-sm-0 mt-1">
                                <p class="text-muted mb-50">Estado</p>
                                <p class="mb-0">Actualmente vinculado</p>
                              </div>
                            </div>
                          </div>
                          <hr/>
                        </li>
                        <li class="timeline-item">
                          <span class="timeline-point timeline-point-info">
                            <i data-feather='trello'></i>
                          </span>
                          <div class="timeline-event">
                            <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1">
                              <h6><b>EMPRESA:</b> Centro Comercial El Bosque</h6>
                            </div>
                            <p>Desvinculado hace 6 meses</p>
                            <div class="d-flex justify-content-between flex-wrap flex-sm-row flex-column">
                              <div class="mt-sm-0 mt-1">
                                <p class="text-muted mb-50">Cargo</p>
                                <p class="mb-0">Comunicaciones</p>
                              </div>
                              <div class="mt-sm-0 mt-1">
                                <p class="text-muted mb-50">Fecha de inicio</p>
                                <p class="mb-0">15 sept 2019</p>
                              </div>
                              <div class="mt-sm-0 mt-1">
                                <p class="text-muted mb-50">Estado</p>
                                <p class="mb-0">Finalizo: 23/09/2020</p>
                              </div>
                            </div>
                          </div>
                          <hr/>
                        </li>
                        <li class="timeline-item">
                          <span class="timeline-point timeline-point-secondary">
                            <i data-feather='trello'></i>
                          </span>
                          <div class="timeline-event">
                            <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1">
                              <h6><b>EMPRESA:</b> CNT</h6>
                            </div>
                            <p>Desvinculado hace 2 años</p>
                            <div class="d-flex justify-content-between flex-wrap flex-sm-row flex-column">
                              <div class="mt-sm-0 mt-1">
                                <p class="text-muted mb-50">Cargo</p>
                                <p class="mb-0">Marketing</p>
                              </div>
                              <div class="mt-sm-0 mt-1">
                                <p class="text-muted mb-50">Fecha de inicio</p>
                                <p class="mb-0">12 Ago 2018</p>
                              </div>
                              <div class="mt-sm-0 mt-1">
                                <p class="text-muted mb-50">Estado</p>
                                <p class="mb-0"> Terminó: 12/05/2019</p>
                              </div>
                            </div>
                          </div>
                          <hr/>
                        </li>

                      </ul>
                    </div>
                  </div>

                </div>
              </div>
            </section>
            <!--/ profile info section -->
          </div>
        </div>

      </div>
    </div>
  </div>
  <ng-template #mensajeModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalCenterTitle">Mensaje</h5>
      <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" tabindex="0" ngbAutofocus>
      <div [innerHTML]="mensaje"></div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="cerrarModal()">Cerrar</button>
    </div>
  </ng-template>
