<!-- Error page-->
<div>
    <section class="text-LP">
        <div class="container pb-5">
            <div class="row justify-content-center align-items-center py-5">
                <div class="col-md-12 text-center mb-4">
                    <img src="{{ coreConfig.app.appLogoImage }}" alt="brand-logo" width="300px"/>
                    <h1 class="yellow2 mt-4 text-bold">CrediCompra - Big Puntos</h1>
                </div>
            </div>
            <div class="align-items-center " style="text-align: center;">
                <div class="col-md-12 text-center">
                    <h2 class="user-name font-weight text-center"> ¡FELICIDADES! </h2>
                    <br>

                    <h3 class="user-name text-center">
                        {{usuario}}
                        <br>
                        Usted tiene un crédito Pre-Aprobado de {{monto}} para que realice pagos a sus proveedores con
                        un crédito otorgado por una Cooperativa de Ahorro y Crédito regulada
                    </h3>
                    <h3 class="user-name font-weight-bolder text-center">
                        Para acceder a su crédito realice los siguientes pasos:
                    </h3>
                    <br>

                    <h3 class="user-name  text-center">
                        1.- Complete su información en la Solicitud de Línea de Crédito
                        (primero debe crear su cuenta en la siguiente pantalla) y
                        luego debe enviar sus documentos por WhatsApp.
                    </h3>
                    <br>

                    <h3 class="user-name text-center">
                        2.- Registre y pague a sus proveedores de manera fácil y rápida. Listo!
                    </h3>
                    <br>



                </div>
                <div class="align-items-center ">

                    <div class="col-md-12 text-center">
                        <a class=" btn btn-primary "
                           (click)="actionContinue()"
                           style="color: black !important;"
                        >
                            Continuar
                        </a>
                    </div>

                </div>

            </div>
        </div>
    </section>

</div>

<div class="text-center">
    <img src="../../../../assets/images/pages/logoCrediCompra.svg" height="50px" width="50px">
</div>

<ng-template #mensajeModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Mensaje</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" tabindex="0" ngbAutofocus>
        <div [innerHTML]="mensaje"></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="cerrarModal()">Cerrar</button>
    </div>
</ng-template>
