.text-primary {
    color: #385e8c !important;
}

.btn-primary {
    color: #385e8c !important;
}

.btn-primary:hover {
    background-color: #385e8c !important;
    box-shadow: 0 8px 25px -8px white !important;
    color: white !important;
    border-color: #385e8c !important;
}

.card-developer-meetup .meetup-img-wrapper {
    background-color: rgba(115, 103, 240, 0.1);
}

button {
    color: blue !important;
}