<div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
        <!-- Error page-->
        <div class="misc-wrapper">

            <div class="card">
                <div class="card-body">
                    <div class="misc-inner p-2 p-sm-5">
                        <div class="text-center">
                            <a href="javascript:void(0);">
                                <img src="assets/images/logo/logo.png" alt="brand-logo" width="300"/>
                                <h2 class="brand-text text-primary ml-1 mt-1">CréditoPagos</h2>
                            </a>
                        </div>
                        <p class="text-center">
                            Validaremos la información adjuntada.
                            <br>
                            Un asesor se pondrá en contacto contigo a la brevedad
                            posible.
                        </p>
                    </div>

                    <div class="card">
                        <div class="card-body text-center">
                            <img src="assets/images/logo/logo.png" alt="brand-logo" width="300"/>
                            <p>
                                Global Redpyme es la mejor opción para el crecimiento de tu negocio
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- / Error page-->
    </div>
</div>
