<app-video-explicativo-aut *ngIf="proceso==1" (estado)="continuar($event)"></app-video-explicativo-aut>
<app-perfil-persona-aut *ngIf="proceso==2" (estado)="continuar($event)"></app-perfil-persona-aut>
<app-establecimientos-comerciales-aut *ngIf="proceso==3" (estado)="continuar($event)" (establecimiento)="obtenerEstablecimiento($event)"></app-establecimientos-comerciales-aut>
<app-establecimiento-seleccionado-aut *ngIf="proceso==4" (estado)="continuar($event)" [idEmpresa]="idEmpresa" (valores)="obtenerMonto($event)"></app-establecimiento-seleccionado-aut>
<app-ruc-persona-aut *ngIf="proceso==5" (estado)="continuar($event)"></app-ruc-persona-aut>
<app-resultados-credito-aut *ngIf="proceso==6" [monto]="solicitarCredito.monto" (idIfi)="obtenerIdIfi($event)" (estado)="continuar($event)"></app-resultados-credito-aut>
<app-mensaje-resultado-aut *ngIf="proceso==7"></app-mensaje-resultado-aut>