<div class="content-wrapper">
    <div class="content-body">
        <!-- users list start -->
        <section class="app-ecommerce-details">
            <div class="card">
                <div class="row">
                    <div class="col-md-12 p-3">
                        <h3 class="mb-1">Su crédito de <b class="text-info">${{monto}}</b> número <b class="text-primary"></b> <br>ha sido pre aprobado por las siguientes instituciones financieras</h3>
                        <h5 class="text-success mb-2">Hemos enviado un link a su <b>número de WhatsApp</b> para procesar su crédito, por favor revise su mensaje.</h5>
                        <div class="card-datatable table-responsive pt-0">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Institución financiera</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let ifi of listaIfis">
                                        <td>{{ifi.nombreComercial}}</td>
                                        <td class="d-flex">
                                            <a href="javascript:void(0)" class="avatar bg-success mr-1" (click)="continuar(ifi._id)">
                                                <div class="avatar-content" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Aceptar crédito">
                                                    <i data-feather='check-circle'></i>
                                                </div>
                                            </a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                        <div>

                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- users list ends -->
    </div>
</div>